@tailwind base;
@layer base {
    html {
        @apply font-serif;
        scroll-behavior: smooth;
    }
}
@tailwind components;
@tailwind utilities;
@tailwind variants;

#root {
    width: 100%;
    margin: 0;
}

@font-face {
    font-family: "Anastasia";
    src: url("./assets/AnastasiaScriptRegular.ttf");
}

.react-multiple-carousel__arrow {
    background-color: rgba(0,0,0,0.35);
}