@tailwind base;
@layer base {
    html {
        @apply font-serif;
        scroll-behavior: smooth;
    }
}
@tailwind components;
@tailwind utilities;
@tailwind variants;

#root {
    width: 100%;
    margin: 0;
  }